<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
			<title>DGRS</title>
		</head>
		<body>
			<p>Direction Générale des renseignements de Sturm</p>
        	<p>Le serveur fonctionne parfaitement, il est {{heure}} h {{minute}} minutes et {{seconde}} secondes</p>
			<p>Bienvenu sur le serveur d'identification des services de renseignement du GYMNASE</p>
			<form action="http://localhost:5000/result" method="post">
					<label>Identifiant</label> : <input type="text" name="id" />
					<label>MDP</label> : <input type="password" id="pass" name="password"/>
					<input type="submit" value="Envoyer" />
			</form>
		</body>
	</html>
